<html>
<head>
<title>Agregar Proveedor</title>
</head>
<body>
	<form action="add-proveedor" method="POST">
		<table>
			<tbody>
				<tr>
					<td>Nombre del Proveedor</td>
					<td><input type="text" name="nombreProveedor"/></td>
				</tr>
				<tr>
					<td>Contacto</td>
					<td><input type="text" name="contacto"/></td>
				</tr>
				<tr>
					<td>Clasificacion</td>
					<td><input type="text" name="clasificacion"/></td>
				</tr>
				<tr>
					<td>Direccion</td>
					<td><input type="text" name="direccion"/></td>
				</tr>
				<tr>
					<td>Producto</td>
					<td>
						<select name = "productoId">
							<option>Seleccione</option>
							{%for producto in productos%}
							<option value={{producto.getId}}>{{producto.getNombre}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<input type="submit" value="Save" />
	</form>
</body>
</html>