{% extends 'layout.twig.html' %}
{% block title %}admin{% endblock %}

{% block content %}
	<ul>
		<li>
			<a href="registrar-pedido">Registrar Pedido</a>
		</li>
		<li>
			<a href="add-proveedor">Add Proveedor</a>
		</li>
	</ul>
{% endblock %}