{% extends 'layout.twig.html' %}
{% block title %}Banco{% endblock %}

{% block content %}
	<ul>
		<li>
			<a href="person">People</a>
		</li>
		<li>
			<a href="account">Accounts</a>
		</li>
		<li>
			<a href="transfer">Transfer</a>
		</li>
		<li>
			<a href="login">Login</a>
		</li>
		<li>
			<a href="add-producto">Add Product</a>
		</li>
	</ul>
{% endblock %}