<html>
<head>
<title>Agregar Producto</title>
</head>
<body>
	<form action="registrar-pedido" method="POST">
		<table>
			<tbody>
				<tr>
					<td><input type="hidden" name="usuarioId" value="{{usuario.getId}}"/></td>
				</tr>
					<td>Proveedor</td>
					<td>
						<select name = "proveedorId">
							<option>Seleccione</option>
							{%for proveedor in proveedores%}
							<option value={{proveedor.getId}}>{{proveedor.getNombre}}</option>
							{% endfor %}
						</select>
					</td>
				<tr>
					<td>Producto</td>
					<td>
						<select name = "productoId">
							<option>Seleccione</option>
							{%for producto in productos%}
							<option value={{producto.getId}}>{{producto.getNombre}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Cantidad</td>
					<td><input type="text" name="cantidad"/></td>
				</tr>
			</tbody>
		</table>
		<br>
		<input type="submit" value="Save" />
	</form>
</body>
</html>